@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

{
    box-sizing: border-box  ;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.table-bordered th, .table-bordered td {

}

.table{
    background: #f5b615 !important;
    /*color: white !important;*/
    border-collapse: collapse;
}

.navigation-clean {
    background-color: #f5b615;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}
